.login-content-container {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* width: calc(100% - 300px); */
  background: rgba(230, 230, 230, 0.192);
  flex: 1;
  padding: 0 55px;
  width: 100%;
  border-radius: 10px;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 22px 45px;
  border-radius: 8px;
}

.form-input {
  display: flex;
  justify-content: center;
  width: 300px;
}

.form-input label {
  line-height: 35px;
  text-align: left;
}

.form-input input {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e4e4e4;
}

.form-input .login-button {
  width: 100%;
  padding: 10px 0;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
}

.login-button:hover {
  cursor: pointer;
}
