.card-result {
  background-color: white;
  width: calc(100% - 30px);
  padding: 15px;
  margin: 25px 0;
  border-radius: 15px;
  display: flex;
  text-align: left;
  align-items: center;
}

.result-content-container {
  position: relative;
  display: flex;
  height: 100%;
  padding: 25px;
  width: calc(100% - 300px);
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  min-height: 600px;
  width: 1024px;
  border-radius: 25px;
  overflow-y: scroll;
}

.card-result-description-name {
  margin-bottom: 45px;
}

.card-result-img {
  width: 150px;
}

.card-result-img img {
  width: 100%;
}

.card-result-description {
  border-left: 1px solid rgb(218, 218, 218);
  padding-left: 25px;
}

.card-result-description-detail {
  display: flex;
  flex-direction: row;
}

.card-result-description-detail-item {
  margin-right: 15px;
}

.card-result-description-name h2,
.card-result-description-detail h3 {
  text-transform: uppercase;
  font-weight: bolder;
}
