.result-container {
  width: 100%;
  display: flex;
  margin: auto;
}

.card-result {
  background-color: white;
  width: 650px;
  padding: 8px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  text-align: left;
  align-items: center;
}

.result-content-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: calc(100% - 300px); */
  background: rgba(161, 161, 161, 0.192);
  border-radius: 10px;
  /* overflow-y: scroll; */
}

.result-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-result-description-name {
  margin-bottom: 45px;
}

.card-result-img {
  width: 150px;
}

.card-result-img img {
  width: 100%;
}

.card-result-description {
  border-left: 1px solid rgb(218, 218, 218);
  padding-left: 25px;
  width: 100%;
}

.card-result-description-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.card-result-description-detail-item {
  margin-right: 15px;
}

.card-result-description-name h2,
.card-result-description-detail h3 {
  text-transform: uppercase;
  font-weight: bolder;
}

.result-content-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.admin-add-button {
  border: none;
  color: rgb(0, 102, 255);
  background: none;
  font-weight: 700;
  font-size: 22px;
}
