.form-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 25px;
  width: 100%;
  /* background: rgba(161, 161, 161, 0.192); */
  border-radius: 10px;
}

.form-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  flex: 1;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  height: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.form-image {
  display: flex;
  justify-content: center;
  width: 250px;
}

.form-image img {
  width: 100%;
}

.form-label {
  font-weight: bolder;
  line-height: 40px;
}

.form-input select {
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-selection {
  outline: none;
}
