.form-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 25px;
  width: 100%;
  background: rgba(161, 161, 161, 0.192);
  border-radius: 10px;
}

.form-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  flex: 2;
}

.form-content {
  display: flex;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.form-image {
  display: flex;
  justify-content: center;
  flex: 1;
}

.form-label {
  font-weight: bolder;
  line-height: 40px;
}

.form-input select {
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.form-selection {
  outline: none;
}
