.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  bottom: 0;
  height: 150px;
  background-color: #00d488;
  padding: 15px 25px;
}

.footer-logo {
  width: 150px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.footer-logo p {
  color: white;
  font-weight: 700;
  padding-top: 15px;
}

.footer-logo img {
  width: 100%;
}

.footer-text {
  display: block;
}

.footer-text p {
  color: white;
  font-weight: 700;
}
