@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Quicksand", sans-serif;
  color: rgb(0, 0, 0);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
