@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Rakkas&display=swap");

* {
  margin: 0;
  padding: 0;
}

a,
p,
button,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  color: rgb(0, 0, 0);
}

h1 {
  font-family: "Rakkas", cursive;
  font-size: 75px;
}

.App {
  min-height: 100vh;
}
